[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-simple-captcha = "*"
testfixtures = "*"
boto3 = "*"
requests = "*"
pyotp = "*"

[dev-packages]

[requires]
python_version = "3.9"
